
<div class="form">
  <h4 class="title"><%= 'Map My Meetups using Google Maps' %></h4>

  <%= render 'form', meetup_event: @meetup_event %>

  <%= render 'delete_all_hack' %>
  <%= bootstrap_flash %>
</div>
