  <footer>
    <div class="container">
      <div class="col-lg-12">
        <ul class="list-inline">
          <li>&copy; Map My Meetups <%= DateTime.now.year %></li>
          <li><%= link_to 'About', '#' %></li>
          <li><%= link_to 'Terms', '#' %></li>
          <li><%= link_to 'Contact', '#' %></li>
        </ul>
      </div>
    </div>
  </footer>
